<h1>All Project Categories</h1>

<p>Select a category to see its related projects:</p>

<ul class="category-list">
    <% categories.forEach(category => { %>
        <li>
            <a href="/category/<%= category.category_id %>">
                <%= category.name %>
            </a>
        </li>
    <% }) %>
</ul>

<hr>
<a href="/">← Back to Home</a>